@import 'variables';

.container {
    color: $green;
    display: flex;
    justify-content: center;
    height: 50vh;
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        .field {
            display: flex;
            flex-direction: column;
            align-items: center;

            .customIcon {
                font-size: 60px;
            }

            .title {
                margin: 10px 0;
            }

            .txt, .title {
                color: $blue;
                text-decoration: none;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 920px) { 
    .container {
        .wrapper {
            flex-wrap: wrap;
            .field {
                width: 50%;
                .customIcon {
                    font-size: 44px;
                }
                .title {
                    font-size: 24px;
                }
    
                .txt, .title {
                }
            }
        }
    }
    
}

@media screen and (max-width: 520px) { 
    .container {
        height: 100%;
        .wrapper {
            .field {
                width: 100%;
                margin: 20px;
                .customIcon {
                }
                .title {
                }
    
                .txt, .title {
                }
            }
        }
    }
}