@import 'variables';

.container {
    display: flex;
    justify-content: space-between;
    color: $white;

    .left {
        display: flex;
        flex-direction: column;
        background-color: $blue;
        flex: 1 1 33.333%;

        .contacts {
            display: flex;
            flex-direction: column;
            .tel {
                color: $white;
            }
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        background-color: $green;
        flex: 1 1 67.7777%;

        .info {
            display: flex;
            justify-content: space-between;
        }

        .services {
            display: flex;
            flex-direction: column;
        }

        .palies {
            display: flex;
            flex-direction: column;
        }
    }
}

.ul {

}

.li {
    list-style: none;
}

.btn, .tel {
    text-decoration: none;
    color: $white;
} 


@media screen and (max-width: 500px) {
    .container {
       flex-direction: column;
    
        .left {
            align-items: center;
            padding: 20px 0;
            .contacts {
                padding-top: 20px;
                .tel {
                }
            }
        }
    
        .right {
    
            .info {
                flex-direction: column;
                padding: 20px 0;
            }
    
            .services {
            }
    
            .palies {
            }
        }
    }
    .ul {
        padding-bottom: 20px;

        .li {
            text-align: center;
        }
    
        a {
            display: flex;
            justify-content: center;
        }
    }
    .btn, .tel, .copy {
        display: flex;
        justify-content: center;
    } 
}