@import 'variables';

.container {
    width: 50%;
    max-width: 1024px;
    margin: 40px auto;

    .title {
        text-align: center;
        color: $green;
    }

    .sub {
        text-align: center;
        font-size: 36px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
}