@import 'variables';

.container {
    width: 50%;
    max-width: 1024px;
    margin: 0 auto;
    .reviews {
        display: flex !important;

        .info {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .text {
                padding: 20px 0;
            }

            .author {
                font-weight: bold;
            }
        }
    }

    .title {
        text-align: center;
        color: $green;
    }

    .sub {
        text-align: center;
        font-size: 36px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 920px) {
    .container {
        width: 75%;
        .reviews {
            img {
                display: none;
            }
        }
    
    }
}