@import 'variables';

.container {

    .title {
        text-align: center;
        color: $green;
    }

    .sub {
        text-align: center;
        font-size: 36px;
        padding-bottom: 20px;
    }
}